/*feuille de style*/

@font-face /*choix des polices personalisées*/
{
    font-family: 'Roboto-Medium';
    src: url('Roboto/Roboto-Medium.ttf');
    font-family: 'Roboto-Thin';
    src: url('Roboto/Roboto-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

#bloc_page
{
  font-family:'Roboto-Medium', arial, sans-serif, verdana;
  color:#404040;
  display: flex;
}


/*--bloc aside a gauche de la page--*/

aside /*proprietes de la boite aside*/ {
    width: 382px;
    font-size: 1em;
    background: #FECA07;
    text-align: justify;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}

aside .photo /*image centree*/
{
  text-align: center;
}

    aside .circle /*image ronde*/ {
        overflow: hidden;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 4px solid #daaf12;
        width: 180px;
        height: 180px;
    }
aside h1 /*proprietes des titres dans aside*/
{
  font-family:'Roboto-Medium', arial, sans-serif, verdana;
    font-size: 1.2em;
    background: #404040;
    color:#FECA07;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.contact
{
  padding-left: 20px;
  padding-right: 20px;
}

.apropos
{
  padding-left: 20px;
  padding-right: 20px;
}

.loisirs_bloc{
    justify-self: flex-end;
    margin-bottom:0px;
}

.icons /*icones representant les loisirs */ 
{
    font-size: 50px;
    text-align: center;
}

/*--bloc principal de la page--*/
#bloc_contenu
{
  padding-left: 20px;
  padding-right: 20px;
}

/*--bloc titre de la page--*/
header
{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#nomprenom
{
  display: flex;
  margin-bottom:-45px;
}
#Prenom {
    font-family: 'Roboto-Thin', arial, sans-serif, verdana;
    font-size: 3em;
    color: #FECA07;
    margin-left: 0px;
    margin-right: 7.5px;
    text-align: right;
}

#Nom {
    font-family: 'Roboto-Thin', arial, sans-serif, verdana;
    font-weight: 200;
    font-size: 3em;
    color: #404040;
    margin-left: 7.5px;
    margin-right: 0px;
    text-align: left;
}

#Intro /*phrase d'introduction (sous titre)*/
{
  font-family:'Roboto-Thin', arial, sans-serif, verdana;
    font-size: 1.5em;
    color:#404040;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
}

hr /*trait sous phrase intro*/
{
  margin-left: 0; /*trait aligne a gauche*/
  margin-top: -20px;
  width: 100px;
  height: 0px;
  border: 1px #FECA07 solid;
}



/*--bloc articles de la page--*/

/*--new grid system below--*/
section{
    display: flex;
    flex-direction: column;
}

.grille_formation {
    width: 100%;
    display: grid;
    grid-template-columns: 30px auto 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

.grille_experience {
    width: 100%;
    display: grid;
    grid-template-columns: 30px auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.grille_recommendations {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}
.puce {
    vertical-align: top;
    display: flex;
    justify-content:center;
}

.date {
    vertical-align: top;
}

.contenu {
    vertical-align: top;
}

/*--old below--*/

      
            h2
            {
              font-size: 1em;
            }


            .fa-dot-circle /*aligne la 1ere puce avec le titre h2, quelque soit la taille de la puce*/
            {
              vertical-align: middle;
              font-size: 1em;
            }
            .fa-circle /*aligne la 2e puce avec le titre h2, quelque soit la taille de la puce*/ 
            {
                vertical-align: middle;
                font-size: 0.5em;
            }

            article i /*couleur des icones des titres dans l'article principal en jaune*/
            {
              color: #FECA07;
            }

            article span /*couleur des puces dans l'article principal en jaune*/
            {
              color: #FECA07;
            }



#formation_titre 
{
    border-bottom: 2px solid #FECA07;
}

#experience_titre 
{
    border-bottom: 2px solid #FECA07;
}

#recommendations_titre 
{
    border-bottom: 2px solid #FECA07;
}

#bloc_recommendations
            {
              display: flex;
              justify-content: space-around;
            }

            h3
            {
              font-size: 0.8em;
            }
